.main-published {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 40px;
  font-family: "Roboto", sans-serif;
  padding-top: 120px;

  .sidebar {
    flex-basis: 25%;

    .widget {
      background: $primary_color;
      border-radius: 5px;
      padding: 15px;
      margin-bottom: 20px;
      color: #fff;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);

      .widget-title {
        border-bottom: 4px solid #fff;
        padding-bottom: 10px;
        margin-bottom: 15px;
      }

      .widget-text {

        h3 {
          background-color: #D9D9D9;
          margin-top: 10px;
          text-align: center;
          padding: 10px;
          border-radius: 5px;

<<<<<<< HEAD
          .active {
            color: #8a8a8a;
          }

=======
>>>>>>> d934a369abc3ddcf2c775169f6a6fc4acabec20b

          a {
            text-decoration: none;
            color: #000;
            font-weight: bold;

          }

        }

      }

      .widget-profile {
        display: flex;

        img {
          width: 68px;
          height: 60px;
          position: relative;
          left: 5px;
        }

        h3 {

          left: 100px;
          margin-bottom: 10px;
          margin-left: 30px;
          margin-top: 8px;
        }
      }

      .widget-body {
        img {
          width: 68px;
          height: 60px;
          position: relative;
          left: 5px;
        }

        h3 {
          position: relative;
          bottom: 50px;
          left: 100px;
          margin-bottom: 10px;
          border-radius: 5px;
        }

        h2 {
          color: #969696;
        }

        ul {
          list-style: none;
          margin: 0;
          padding: 0;

          li {
            a {
              color: #fff;
              padding: 10px 0;
              display: block;
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  .content {
    flex-basis: 75%;
    display: flex;
    flex-direction: column;
    gap: 20px;

<<<<<<< HEAD
=======
    .card {
  
      form {
  
        input {
          width: 100%;
          padding: 10px;
          border-radius: 10px;
          border: none;
          background-color: #161A3F;
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
        }
      }
    }
  
>>>>>>> d934a369abc3ddcf2c775169f6a6fc4acabec20b
    .list-menu {
      display: flex;
      background-color: #161a3f;
      padding: 20px;
      width: auto;
      border-radius: 15px;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
<<<<<<< HEAD
      justify-content: center;

      li {
        position: relative;
        left: 35px;

=======
  
      li {
        position: relative;
        left: 35px;
  
>>>>>>> d934a369abc3ddcf2c775169f6a6fc4acabec20b
        .active {
          color: #929090;
        }
      }
<<<<<<< HEAD

=======
  
>>>>>>> d934a369abc3ddcf2c775169f6a6fc4acabec20b
      a {
        color: #fff;
        padding-right: 25px;
        font-weight: bold;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
      }
    }
<<<<<<< HEAD

    a {
      color: #000;
    }

=======
  
>>>>>>> d934a369abc3ddcf2c775169f6a6fc4acabec20b
    .card {
      padding: 20px;
      background: #fff;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
      border: 1px solid #ddd;
      border-radius: 15px;
<<<<<<< HEAD

      form {

        input {
          width: 100%;
          padding: 10px;
          border-radius: 10px;
          border: none;
          background-color: #161A3F;
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
          color: #ffffff;

        }
      }
    }

    .articles {
      height: 220px;

=======
    }
  
    .articles {
      height: 220px;
  
>>>>>>> d934a369abc3ddcf2c775169f6a6fc4acabec20b
      h1 {
        font-size: 35px;
        text-align: left;
      }
<<<<<<< HEAD

=======
  
>>>>>>> d934a369abc3ddcf2c775169f6a6fc4acabec20b
      p {
        position: relative;
        top: 20px;
        text-align: justify;
        line-height: 1.5;
      }
    }
<<<<<<< HEAD

=======
  
>>>>>>> d934a369abc3ddcf2c775169f6a6fc4acabec20b
    .bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 30px;
<<<<<<< HEAD

=======
  
>>>>>>> d934a369abc3ddcf2c775169f6a6fc4acabec20b
      .left {
        display: flex;
        align-items: center;
        justify-content: flex-start;
<<<<<<< HEAD

=======
  
>>>>>>> d934a369abc3ddcf2c775169f6a6fc4acabec20b
        ul {
          display: inline-flex;
          padding: 0;
          margin: 0;
          color: #545454;
<<<<<<< HEAD

=======
  
>>>>>>> d934a369abc3ddcf2c775169f6a6fc4acabec20b
          li {
            display: flex;
            margin-right: 20px;
            gap: 8px;
          }
        }
      }
<<<<<<< HEAD

=======
  
>>>>>>> d934a369abc3ddcf2c775169f6a6fc4acabec20b
      .right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
<<<<<<< HEAD

=======
  
>>>>>>> d934a369abc3ddcf2c775169f6a6fc4acabec20b
        ul {
          display: inline-flex;
          padding: 0;
          margin: 0;
          color: #545454;
<<<<<<< HEAD

=======
  
>>>>>>> d934a369abc3ddcf2c775169f6a6fc4acabec20b
          li {
            display: flex;
            margin-right: 8px;
            gap: 5px;
          }
        }
      }
    }
<<<<<<< HEAD

    .modal-body {
      .row {
        label {
          color: #969696;

        }

        .input {
          margin-top: 10px;
          margin-bottom: 10px;

          input {
            width: 100%;
            padding: 10px;
            border-radius: 5px;

          }

          select {
            width: 100%;
            padding: 10px;
            color: #545454;
            border-radius: 5px;
          }
        }

        .col1 {
          background: rgb(255, 255, 255);
          padding: 5px;
          margin-top: 5px;
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);

          .box {
            display: inline-block;
            padding: 0 5px;
          }

          .first {
            border-right: 2px solid #40576d33;

            input[type=number] {
              outline: none;
              border: none;
              width: 50px;
              color: #000;
              font-size: 15px;
              padding-left: 10px;
              margin-left: 10px;
            }
          }

          .second {
            border-right: 2px solid #40576d33;

            button {
              border: none;
              color: #000;
              font-size: 12px;
              background: transparent;
              border-radius: 3px;
              cursor: pointer;
              user-select: none;

              span {
                font-size: 15px;
              }
            }

            button:hover {
              background-color: #ebebeb;
            }

            button:focus {
              background-color: #c5c5c5;
              color: #ff2600;
            }
          }

          .third {
            border-right: 2px solid #40576d33;

            button {
              border: none;
              color: #000;
              font-size: 12px;
              background: transparent;
              border-radius: 3px;
              cursor: pointer;
              user-select: none;

              span {
                font-size: 15px;
              }
            }

            button:hover {
              background-color: #ebebeb;
            }

            button:focus {
              background-color: #c5c5c5;
              color: #ff2600;
            }
          }

          .fourth {
            border-right: 2px solid #40576d33;

            button {
              border: none;
              color: #000;
              font-size: 12px;
              background: transparent;
              border-radius: 3px;
              cursor: pointer;
              user-select: none;

              span {
                font-size: 15px;
              }
            }

            button:hover {
              background-color: #ebebeb;
            }

            button:focus {
              background-color: #c5c5c5;
              color: #ff2600;
            }
          }
        }

        .col2 {
          background: rgb(255, 255, 255);
          padding: 5px;
          margin-top: 5px;
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);

          textarea {
            width: 100%;
            height: 320px;
            outline: none;
            border: none;
          }
        }
      }
    }
  }

}
=======
  }

}

>>>>>>> d934a369abc3ddcf2c775169f6a6fc4acabec20b
