.signup {
    width: 800px;
    margin: 20px auto;
    height: 500px;
    background: $white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px; 
    
    .left {
  
      height: 100%;
      flex-basis: 50%;
      border-radius: 5px 0 0 5px;
      background-image: url("/img/kb1.png");
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: center;
      justify-content: center;
  
      .logo-description {
        display: flex;
        align-items: center;
        justify-content: space-between;
        img {
          width: 81px;
          height: 91px;
        }
        .teks-description {
         h1,p {
          color: #ffffff;
          margin: 0;
          padding: 0;
          line-height: 1.2;
  
         }
  
         h1 {
          font-size: 28px;
          
         }
  
         p {
          font-size: 15px;
          font-weight: 500;
         }
        }
  
      }
    }
  
    .right {
      background: #ffffff;
      height: 100%;
  
      border-radius: 0 5px 5px 0;
      flex-basis: 50%;
    }
  }
  
  /* Style untuk container */
  .container {
    width: 300px;
    padding: 16px;
    margin: 0 auto;
    
  }
  
  /* Style untuk heading */
  .form-description {
    img {
      position: relative;
      left: 100px;
      top: 10px;
      width: 100px;
    }
  
  }
  
  
  h1 {
    text-align: center;
    margin-bottom: 16px;
    color: #161A3F;
  }
  
  /* Style untuk input dan label */
  input[type=text], input[type=password] {
    width: 100%;
    height:35px;
    padding: 12px 20px;
    margin: 2px 0;
    display: inline-block;
    border: px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    
    }
      
 .email-label {
    position: relative;
    top: 8px;
 } 

 .password-description {
    position: relative;
    top: 15px;
 }

 .confirm-description {
    position: relative;
    top: 21px;
 }
   
  /* Style untuk tombol login */
  .button1 {
    width: 100px;
    color: #ffffff;
    padding: 10px 0px 5px  ;
    margin: 8px 0px ;
    border: none;
    cursor: pointer;
    position: relative;
    bottom: 10px;
    left: 100px;
    top: 30px;
    border-radius: 5px;
    font-weight: 200;
  
  }
  
  .button2 {
    width: 100%;
    color: #161A3F;
    padding: 10px 0px 5px  ;
    margin: 8px 0px ;
    border: none;
    cursor: pointer;
    position: relative;
    bottom: 10px;
    top: 15px;
    
  }
  
  button:hover {
    opacity: 0.10;
  }

  

  