//header
// *{
//   box-sizing: border-box;
// }
header{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    background: #161A3F;
    padding: 1rem;
    box-shadow: 0 0.5rem 1rem #929090;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    background-color: #161A3F;
    color: white;
    box-shadow: 0 5px 30px #5f5f5f;
    font-weight: bold;

}   
.navbar-links{
  display: flex;
    ul{
      display: flex;
      list-style: none;
      gap: 40px;
    }
    li{
      a {
     color: #ffffff;
     text-decoration: none;
      &.active{
      color: #929090;
      }
    }
    }
    button{
    border: none;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-right: 20px;
    margin-top: 8px;
    color: #161A3F;
    font-weight: bold;
    border-radius: 9px;
    height: 30px;
    width: 70px;
    cursor: pointer;
    }
}
.logo-description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      width: 81px;
      height: 91px;
    }
    .teks-description {
     h1,p {
      color: #ffffff;
      margin: 0;
      padding: 0;
      line-height: 1.2;
       }

        h1 {
        font-size: 28px;
      
       }
        p {
        font-size: 15px;
        font-weight: 500;
       }
    }
  }
//home
.home{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  .home-text{
    max-width: 600px;
    margin-top: 140px;
    margin-left: 50px;
  }
  .home-text h1{
  font-size: 30px;
   }
   .home-text p{
    font-size: 20px;
   }
   .h-search-form{
    width: 95%;
    position: relative;
    border-color: none;
  }
  .h-search-form input{
    width: 100%;
    padding : 0 25px;
    height: 36px;
    background-color: #161A3F;
    font-size: 15px;
    color: #ffffff;
  }
  .image img{
    margin-top: 200px;
    width: 300px;
    margin-left: 210px;
  }
}


